
/*  configurações Main geral*/
.default {
  padding-top: 100px;
  padding-bottom:50px;
  width: 100vw;
}
.default .section-title,
.default .section-desc {
  text-align:center;
  text-transform: uppercase;
  font-weight: 700;
}
.default .section-title {
  font-size:20px;
}
.default .section-desc {
  font-size:12px;
  color:#CCC;
  margin-top:10px;
  margin-bottom:40px;
}
.default .section-body {
  max-width:1140px;
  margin:auto;
}
.default.light.tes{
  background-color: #f0e9d7;
}
.default.light .section-title,
.default.light .section-body {
  color:#000;
}

/*
AREA SOBRE O PROJETO ,
NOSSA HISTORIA
*/

.sobreProjeto,
.nossaHistoria  {
  display:flex;
}
.sobreProjeto--left,
.nossaHistoria--right{

  flex:1;
}
.sobreProjeto--left,
.nossaHistoria--right p,
.text-acoes p {
  margin: 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  line-height:23px;
}
.sobreProjeto--right,
.nossaHistoria--left {
  width:520px;
  text-align:center;
}

/* NOSSAS AÇÕES 
*/

.NossaAcoes {
  background-color: var(--cinza-padrão);

  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}
.text-acoes{
  flex: 1;
  width: 40%;
  height: 500px;

}

.image-acoes{
  
  width: 60%;
  height: 500px;

}
.image-acoes .image1 img {
  margin-top: 3%;
  margin-left: 3%;
  width:45%;
  height:250px;
  border-radius: 10%;

}
.image-acoes .image2 img{
  margin-top: -5%;
  margin-left:52%;
  width:45%;
  height:250px;
  border-radius: 10%;
}


/*
MULTIMIDIA
*/

.section-projects {
 
  display:flex;
  flex-direction: column;
  align-items: center;
}
.section-projects--filters {
  border:1px solid #CCC;
  background-color:#EEE;
  border-radius:30px;
  display:inline-block;
  padding:0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style:none;
}
.section-projects--filters li {
  display:inline-block;
  padding:10px;
  text-transform: uppercase;
  font-size:13px;
  border-left:1px solid #CCC;
  color:#555;
  border-bottom:3px solid #EEE;
  cursor:pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom:3px solid #B28756;
}
.section-projects--filters li:first-child {
  border-left:0;
}

.section-projects--photos {
  width:100vw;
  max-width:1140px;
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.section-projects--photo {
  width:280px;
}
.section-projects--photoarea {
  margin:10px;
  width:260px;
  height:160px;
}
.section-projects--photoarea img {
  width:inherit;
  height:inherit;
}
.section-projects--photoinfo {
  position:absolute;
  background-color:rgba(0, 0, 0, 0.5);
  width:inherit;
  height:inherit;
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#FFF;
}
.section-projects--photoinfo h5 {
  font-size:18px;
  font-weight:600;
}
