:root {
  --red-padrão: #AC312F;
  --red1: #800000;
  --red2: #FF1D28;
  --yelow-padrão:#DBBD78;;
  --cinza-padrão:#DBD9D8;
  --laranja-padrão:#E6845C;
  --azul-preto:  #23232e;
  
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  overflow-x:hidden;
  background-color:  var(--red-padrão);
}
.center{
  align-items: center;
  display: flex;
  width:80%;
  margin:auto;
}
header{
  background-color: var(--yelow-padrão);
  position: fixed;
  z-index: 1000;
  width:100%;
  height:100px;

}
.header{
  max-width:1140px;
  height:100px;
  margin: auto;
  display: flex;
  align-items: center;
  
}
.logo{
  width: 100px;

}
.logoImg {
    width: 80px;
    height: 80px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: space-around;
}.nav-list {
     list-style: none;
    display: flex;
}
.nav-list li a {
    text-decoration: none;
     color:  white;
    padding-left: 5px;
    padding-right: 5px;
    
    font-weight: bold;
}
.menu li a:hover{
    color:rgb(117, 44, 44);
}
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: red;
    margin: 8px;
    transition: 0.3s;
  }
.btnQueroAjudar{
    background-color: var(--red-padrão);
    color: white;
    margin-left: 20px;
    height: 35px;
    border-radius: 2em;
    width:170px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.btnQueroAjudar:hover{
    background-color: rgb(117, 44, 44);
}
/* style pop-up*/
.modal-container{
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.mostrar{
  display:flex;
}
.modal{
  background-color: white;
  width: 60%;
  height:80%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid var(--red-padrão);
  box-shadow: 0 0 0 10px white;
  position: relative;
}
/* banner*/

.banner{
  background: url('../images/criançaBanner.jpg') no-repeat;
  height: 92vh;
  background-size:cover;
  background-position:100%;
  overflow:hidden;
  background-color:#333;

}
.banner .sliders {
  width:1000vw;
  height:100%;
}
.banner .slide {
  width:100vw;
  height:100%;
  display:inline-block;
  background-color:rgba(0, 0, 0, 0.5);
}
.banner .slidearea {
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content: center;
  align-items:center;
  color:#FFF;
}
.banner h1 {
  text-align: center;
  font-size:50px;

}
.banner h1 span {
  color:var(--yelow-padrão);
}
.banner .titulo::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}
@keyframes pisca {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
.banner h2 {
  text-transform: uppercase;
  margin-top:20px;
}
.banner .sliders-pointers {
  width:100vw;
  height:20px;
  position:absolute;
  margin-top:-50px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.banner .pointer {
  width:15px;
  height:15px;
  border:2px solid var(--red-padrão);
  border-radius:8px;
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;
}
.banner .pointer.active {
  background-color: var(--red-padrão);
}

@keyframes modal{
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);

  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);

  }
}
.mostrar .modal {
  animation: modal 3s;

}
.btnFechar{
  position: absolute;
  font-size: 1.2em;
  top:-30px;
  right: -30px;
  width:50px;
  height:50px;
  border-radius: 510%;
  border: 4px solid white;
  background: var(--red-padrão);
  color: white;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}







/*  configurações Main geral*/
.default {
  padding-top:50px;
  padding-bottom:50px;
}
.default .section-title,
.default .section-desc {
  text-align:center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title {
  font-size:20px;
}
.default .section-desc {
  font-size:12px;
  color:#CCC;
  margin-top:10px;
  margin-bottom:40px;
}
.default .section-body {
  max-width:1140px;
  margin:auto;
}
.default.light {
  background-color: var(--cinza-padrão);
}
.default.light.tes{
  background-color: #f0e9d7;
}
.default.light .section-title,
.default.light .section-body {
  color:#000;
}
.default.dark {
  background-color:#000;
}
.default.dark .section-title,
.default.dark .section-body {
  color:#FFF;
}


/*
AREA SOBRE O PROJETO ,
NOSSA HISTORIA
*/

.sobreProjeto,
.nossaHistoria  {
  display:flex;
}
.sobreProjeto--left,
.nossaHistoria--right{

  flex:1;
}
.sobreProjeto--left,
.nossaHistoria--right p,
.text-acoes p {
  margin: 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  line-height:23px;
}
.sobreProjeto--right,
.nossaHistoria--left {
  width:520px;
  text-align:center;
}
.sobreProjeto--right img,
.nossaHistoria--left img {
  width:480px;
  box-shadow:0px 5px 10px #333;
}

/* NOSSAS AÇÕES 
*/

.NossaAcoes {
  background-color: var(--cinza-padrão);
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}
.text-acoes{
  flex: 1;
  width: 40%;
  height: 500px;

}

.image-acoes{
  
  width: 60%;
  height: 500px;

}
.image-acoes .image1 img {
  margin-top: 3%;
  margin-left: 3%;
  width:45%;
  height:250px;
  border-radius: 10%;

}
.image-acoes .image2 img{
  margin-top: -5%;
  margin-left:52%;
  width:45%;
  height:250px;
  border-radius: 10%;
}











/*
MULTIMIDIA
*/

.section-projects {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.section-projects--filters {
  border:1px solid #CCC;
  background-color:#EEE;
  border-radius:30px;
  display:inline-block;
  padding:0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style:none;
}
.section-projects--filters li {
  display:inline-block;
  padding:10px;
  text-transform: uppercase;
  font-size:13px;
  border-left:1px solid #CCC;
  color:#555;
  border-bottom:3px solid #EEE;
  cursor:pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom:3px solid #B28756;
}
.section-projects--filters li:first-child {
  border-left:0;
}

.section-projects--photos {
  width:100vw;
  max-width:1140px;
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.section-projects--photo {
  width:280px;
}
.section-projects--photoarea {
  margin:10px;
  width:260px;
  height:160px;
}
.section-projects--photoarea img {
  width:inherit;
  height:inherit;
}
.section-projects--photoinfo {
  position:absolute;
  background-color:rgba(0, 0, 0, 0.5);
  width:inherit;
  height:inherit;
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#FFF;
}
.section-projects--photoinfo h5 {
  font-size:18px;
  font-weight:600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
  display:flex;
}






.section-contato{
  width: 100%;
  background-color: #FA7E72;

}
.containerContato {
 display: flex;
 max-width: 1140px;
 margin: auto;
 padding-top:35px;
 
}
.forms-contato {
  width:60%;

}
.forms-contato h4 {
  text-align: center;
  color: white;
  font-size: 22px;
}


.forms-contato input {
  border: none;
  width: 80%;
  margin-left: 10%;
  border-radius: 0.4em;
  height: 30px;
  margin-top: 20px;
}
.forms-contato input::placeholder,
.forms-contato textarea::placeholder{
  font-family: 'Josefin Sans', sans-serif;
 
}

.forms-contato textarea {
  border: none;
  width: 80%;
  margin-left: 10%;
  border-radius: 0.4em;
  height: 100px;
  margin-top: 25px;
  padding-top: 10px;
}
.input-submit {
  color: white;
  background: var(--red-padrão);
  width: 30%;
  align-items: center;
  text-align: center;
}



.footer--area {
  text-align: center;
  align-items: center;
  background-color: var(--yelow-padrão);
}




















@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 100px;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--yelow-padrão);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }