:root {
    --red-padr達o: #AC312F;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:  var(--red-padr達o);
}
header{
    height:100px;
    background-color: white;
}
.header{
    max-width: 1140px;
    height:100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;

}
.logoImg {
    width: 80px;
    height: 80px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: space-around;
}.nav-list {
     list-style: none;
    display: flex;
}
.nav-list li a {
    text-decoration: none;
     color:  var(--red-padr達o);
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu li a:hover{
    color:rgb(117, 44, 44);
}
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: red;
    margin: 8px;
    transition: 0.3s;
  }
.btnQueroAjudar{
    background-color: var(--red-padr達o);
    color: white;
    margin-left: 20px;
    height: 35px;
    border-radius: 2em;
    width:170px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.btnQueroAjudar:hover{
    background-color: rgb(117, 44, 44);
}


@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 100px;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }